Python Imports

In [4]:
import os

import pandas as pd
import numpy as np

In [5]:
import cx_Oracle

Establish database connection

In [8]:
host = 'musicgenreviz.cmxt8otwhjqc.us-east-2.rds.amazonaws.com'
port = 1521
sid = 'CIS550'

# don't push to git!
user = 'cis550'
password = 'cis550eklh'

# create DSN string and try to connect
dsn_str = cx_Oracle.makedsn(host, port, sid=sid)
connection = cx_Oracle.connect(user, password, dsn_str)

DatabaseError: ORA-12170: TNS:Connect timeout occurred

In [ ]:
connection.close()

<hr>

Load data

<hr>

Upload to Amazon RDS database